appliances:
    - hostname: {{ appliance_ip }}
browser:
    webdriver: Remote
    webdriver_wharf: http://{{wharf_ip}}:{{wharf_port}}
    webdriver_options:
        desired_capabilities:
            platform: LINUX
            browserName: 'chrome'
            unexpectedAlertBehaviour: 'ignore'
github:
    default_repo: foo/bar

sprout:
	hostname: {{ sprout_url }}
	port: 80
